*{
          margin: 0;
          padding: 0;
          box-sizing: border-box;
}
.container{
max-width: 1440px;
margin: 0 auto;
background-color: aquamarine;
}
body{
font-family: "Mulish", sans-serif;
}
/* color-1 */
.color-1{
color: rgba(66,66,71,1);
}


/* header style */
header{
max-width: 1170px;
margin: 0 auto;
}
nav{
border: 1px solid red;
display: flex;
justify-content: space-between;
align-items: center;
}
nav>div{
display: flex;
align-items: center;
gap: 16px;
}

nav>div>img{
height:50.05px;
width:48px;
}
nav>div>h2{
font-size: 2.25rem;
font-weight: 800;
line-height: 45px;
}
nav>div>h2>span{
color: rgba(255, 84, 0, 1);
}

nav>ul{
display: flex;
gap: 44px;

}
nav>ul>li{
list-style-type: none;
}
nav>ul>li>a{
text-decoration: none;
font-size: 1.1rem;
font-weight: 400;
line-height: 23px;
color:  rgba(66,66,71,1);
}
.a{
color: rgba(255, 84, 0, 1);
font-style: bold;
font-weight: 700;

}

